.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.search-form {
  min-width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightslategray;
  border: none;
  padding: 10px 20px;
  color: white
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  color: rgba(0, 1, 2, 0.89);
  margin-top: 0;
}

img {
  padding: 40px
}